SUPABASE_URL=https://mlpzubqvqfntfnkilowi.supabase.co

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1scHp1YnF2cWZudGZua2lsb3dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNzc0NDAsImV4cCI6MjA5NDk1MzQ0MH0.I2j0ylGOF9RaHp3D5SOMk_dqCMlRi2e2jMI8M5v-dxE

SUPABASE_DB_URL=postgresql://postgres.mlpzubqvqfntfnkilowi:Thilina%40%231996628@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres