Flask==3.1.2
Werkzeug==3.1.5
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.5
reportlab==4.4.9
Jinja2==3.1.6
MarkupSafe==3.0.3
itsdangerous==2.2.0
click==8.3.1
blinker==1.9.0
python-barcode==0.16.1
Pillow==12.1.0
supabase==2.5.3
